node_modules/
.vite/
dist/
dist-electron/
__pycache__/
venv/
release/
*.pyc
*.log
.env
.env.*
backend/node_modules/
frontend-web/node_modules/
apps/desktop/node_modules/
apps/server/node_modules/
.vercel
.env*
node_modules
